<section class="contact-section bg-black" id="contact">
  <div class="container px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <h2>Contatos</h2>
    </div>
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="bg-sobra card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">
              <img src="../../../assets/img/icons8-endereço-50.png" alt="" />
              Endereço
            </h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50">
              <a
                target="_blank"
                href="https://www.google.com/maps/place/Fametro+Unidade+I+e+II+-+Sede/@-3.0969031,-60.0282505,17z/data=!3m1!4b1!4m6!3m5!1s0x926c1aa9d7ff4d3f:0xf8581f6dfb21295c!8m2!3d-3.0969031!4d-60.0256756!16s%2Fg%2F11h8zw3dn4"
                >Av. Constantino Nery, 3000 - Chapada, Manaus - AM, 69050-000</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card py-4 h-100 bg-sobra">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">
              <img
                src="../../../assets/img/icons8-nova-mensagem-50.png"
                alt=""
              />
              E-mail
            </h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50">
              <a href="#">firstcontact@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card py-4 h-100 bg-sobra">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="m-0">
              <img src="../../../assets/img/icons8-whatsapp-30.png" alt="" />
              Whatsapp
            </h4>
            <hr class="my-4 mx-auto" />
            <a>(92) 4002-8922</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
