html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: rgb(3, 3, 3);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1rem;
}
h4 {
  font-size: 1rem;
}
img {
  height: 1.7rem;
}
h2 {
  color: #ff5252;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 2rem;
}
.container {
  text-align: center;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;
  padding: 2rem;
}
.contact-section {
  padding-top: 1rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #1500ff;
}
.contact-section .card h4,
.contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  opacity: 1;
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}
.bg-sobra:hover {
  border: 1px solid rgb(17, 0, 255);
  border-radius: 5px;
  box-shadow: 20px 20px 20px rgba(8, 0, 255, 0.434);
}
.bnt-whats {
  position: fixed;
  bottom: 20px;
  right: 60px;
}
