<section class="projects-section bg-light" id="vacancies">
  <div class="container px-4 px-lg-5">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="" alt="..." />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Vagas</h4>
          <p class="text-black-50 mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
            minima tenetur assumenda saepe modi iusto vero esse ipsam, sequi
            amet ut molestias ullam autem eum reprehenderit magnam nobis tempora
            nihil.
          </p>
        </div>
      </div>
    </div>
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="" alt="..." />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-0 text-white-50">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam
                maxime sed voluptas aspernatur officiis exercitationem autem
                expedita in ullam dicta porro, perspiciatis accusantium
                explicabo. Accusamus ex corrupti nisi aliquid labore!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-0 justify-content-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="" alt="..." />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <p class="mb-0 text-white-50">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi asperiores voluptatum at amet? Totam iste possimus
                atque eligendi blanditiis architecto nisi molestias. Esse
                deserunt culpa voluptates quidem optio omnis iusto!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
