<section>
    <button
      type="button"
      class="btn btn-two"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Cadastre o seu CV
    </button>
  </section>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Cadastrar Currículo
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="cpf-user" class="col-form-label">CPF:</label>
              <input type="text" class="form-control" id="cpf-user" />
            </div>
            <div class="mb-3">
              <label for="nome-user" class="col-form-label">Nome Completo:</label>
              <input class="form-control" id="nome-user" />
            </div>
            <div class="mb-3">
              <label for="file-user" class="col-form-label"
                >Selecione o seu currículo:</label
              >
              <input type="file" class="form-control" id="file-user" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  