html {
  scroll-behavior: smooth;
}
p {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
  color: rgb(250, 250, 250);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
h2 {
  color: #ff5252;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
}
p:hover,
h2:hover {
  cursor: pointer;
}
.projects-section {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 1%,
    rgba(0, 0, 0, 0.7) 50%,
    #636464 100%
  );
}
.box-1 {
  margin-bottom: 1rem;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.896796218487395) 27%,
    rgba(0, 0, 0, 0.896796218487395) 66%,
    rgba(252, 0, 0, 1) 76%
  );
}
.box-2 {
  margin-bottom: 1rem;
  padding: 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.896796218487395) 27%,
    rgba(0, 0, 0, 0.896796218487395) 66%,
    rgba(252, 0, 0, 1) 76%
  );
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
section {
  padding: 1em;
  background-color: black;
  text-align: center;
}
.btn-two {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  margin-top: 1rem;
}
.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.8s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.8s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}
