<section class="projects-section" id="cadastro">
  <div class="container container-cad">
    <div class="row box-1 box-top-border">
      <div class="col-xl-8 col-lg-7">
        <img
          loading="lazy"
          class="img-fluid mb-3 mb-lg-0"
          src="../../../assets/img/bg-masthead.jpeg "
          alt="..."
        />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="text-center text-lg-left">
          <h2>Cadastro</h2>
          <p class="mb-0">
            No First Contact, o aluno poderá preencher os dados básicos de seu
            currículo de forma simplificada, incluindo CPF, nome completo e o
            PDF do currículo. Esses dados serão armazenados em um banco de dados
            seguro e ficarão disponíveis para as empresas parceiras do site.
          </p>
          <button
            type="button"
            class="btn codepen-button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Cadastre o seu CV
          </button>
        </div>
      </div>
    </div>
    <div class="row box-2">
      <div class="col-lg-6">
        <div class="text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-0">
                As empresas poderão acessar os currículos cadastrados e
                filtrá-los de acordo com suas necessidades e requisitos
                específicos, como nível de escolaridade, curso, habilidades
                técnicas, entre outros critérios.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          loading="lazy"
          class="img-fluid"
          src="../../../assets/img/colegas-masculinos-e-femininos-irreconheciveis-olhando-para-a-tela-do-laptop-no-escritorio.jpg"
          alt="..."
        />
      </div>
    </div>
    <div class="row box-1 box-bottom-border">
      <div class="col-lg-6">
        <img
          loading="lazy"
          class="img-fluid"
          src="../../../assets/img/man-handshaking-his-employer-after-being-accepted-his-new-office-job-1.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <div class="text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <p class="mb-0">
                O objetivo é tornar o processo de cadastro e busca de
                oportunidades de estágio mais fácil e ágil para os usuários, sem
                comprometer a qualidade das informações fornecidas no currículo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title title fs-5" id="exampleModalLabel">
          Cadastrar Currículo
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="cpf-user" class="col-form-label">CPF:</label>
            <input type="text" class="form-control" id="cpf-user" />
          </div>
          <div class="mb-3">
            <label for="nome-user" class="col-form-label">Nome Completo:</label>
            <input class="form-control" id="nome-user" />
          </div>
          <div class="mb-3">
            <label for="file-user" class="col-form-label"
              >Selecione o seu currículo:</label
            >
            <input type="file" class="form-control" id="file-user" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Salvar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
