<section class="bg-light mb-lg-5 mt-5"></section>
<section class="projects-section bg-light" id="cadastro">
  <div class="container px-4 px-lg-5">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <div class="col-xl-8 col-lg-7">
        <img
          class="img-fluid mb-3 mb-lg-0"
          src="../../../assets/img/bg-masthead.jpeg "
          alt="..."
        />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Cadastro</h4>
          <p class="text-black-50 mb-0">
            No First Contact, o aluno poderá preencher os dados básicos de seu
            currículo de forma simplificada, incluindo CPF, nome completo e o
            PDF do currículo. Esses dados serão armazenados em um banco de dados
            seguro e ficarão disponíveis para as empresas parceiras do site.
          </p>
        </div>
      </div>
    </div>
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../../../assets/img/colegas-masculinos-e-femininos-irreconheciveis-olhando-para-a-tela-do-laptop-no-escritorio.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-0 text-white-50">
                As empresas poderão acessar os currículos cadastrados e
                filtrá-los de acordo com suas necessidades e requisitos
                específicos, como nível de escolaridade, curso, habilidades
                técnicas, entre outros critérios.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-0 justify-content-center">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../../../assets/img/man-handshaking-his-employer-after-being-accepted-his-new-office-job-1.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <p class="mb-0 text-white-50">
                O objetivo é tornar o processo de cadastro e busca de
                oportunidades de estágio mais fácil e ágil para os usuários, sem
                comprometer a qualidade das informações fornecidas no currículo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
