html {
  scroll-behavior: smooth;
}

h2 {
  color: #ff5252;
}

p {
  margin-top: 1rem;
  text-align: justify;
  color: rgb(3, 3, 3);
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
p:hover,
h2:hover {
  cursor: pointer;
}

.block-objetivo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;
  text-align: center;
  background-color: gray;
  text-align: center;
}

.about-section {
  padding: 5rem ;
  background: linear-gradient(
    to bottom,
    #000 0%,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.jovem {
  height: auto;
}
