<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row gx-4 gx-lg-5 block-objetivo">
      <div class="col-12 col-md-8">
        <h2>Objetivo</h2>
        <p class="sobre">
          Sabemos que a busca pelo primeiro estágio pode ser desafiadora. Por
          isso, criamos uma plataforma que agiliza todo o processo e ainda
          oferece feedbacks sobre as vagas cadastradas. Você terá acesso às
          melhores oportunidades e saberá em tempo real o andamento do processo
          seletivo. Acreditamos que o primeiro contato com o mercado de trabalho
          deve ser incrível e é isso que oferecemos aqui na First Contact.
        </p>
      </div>
      <img
        loading="lazy"
        class="col-12 col-md-4 img-fluid jovem d-none d-md-block"
        src="../../../assets/img/jovem.png"
        alt="..."
      />
    </div>
  </div>
</section>
