<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-white mb-4">Sobre nós</h2>
        <p class="text-white-50">
          Sabemos que a busca pelo primeiro estágio pode ser desafiadora. Por
          isso, criamos uma plataforma que agiliza todo o processo e ainda
          oferece feedbacks sobre as vagas cadastradas. Você terá acesso às
          melhores oportunidades e saberá em tempo real o andamento do processo
          seletivo. Acreditamos que o primeiro contato com o mercado de trabalho
          deve ser incrível e é isso que oferecemos aqui na First Contact.
        </p>
      </div>
    </div>
    <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
  </div>
</section>
