<form id="form-cadastro">
    <h1>-Form de cadastro-</h1>
  <div class="mb-3">
    <label for="cpf" class="form-label">Digite seu CPF</label>
    <input type="text" class="form-control" id="cpf" />
  </div>
  <div class="mb-3">
    <label for="cpf" class="form-label">Digite seu nome completo</label>
    <input type="text" class="form-control" id="name-user" />
  </div>
  <div class="mb-3">
    <label for="cpf" class="form-label">Insira seu Currículo</label>
    <input type="file" class="form-control" id="file-user" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
